# Prerequisites
.DS_Store
*.swp
*.*~
.*~
*~
*.d

# Object files
*.o
*.a
.settings
*doxygen*
*.gcov
*.gcno
*.gcda
*_tests
*_cslim
*a.out
*.zip
tmp
pdfs
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
gcov
objs
lib
*_tests.txt
gcov*.html
ErrorLogs
testResults
.metadata
Debug

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.obj
*.ncb
*.opt
*.plg
*.idb
*.pdb
*.sou
*.sdf
*.lib
*.log
*.tlog
*.cache
*.user
*.sublime-*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
